.button {
  min-width: 40px;
  padding: 12px;
  height: 40px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.button--primary {
  background-color: transparent;
  color: white;
  font-weight: 400;
  border-radius: 0;
  border: 1px solid #a271cc;
  border-radius: 50%;
}

.button--radius {
  background-color: transparent;
  color: white;
  font-weight: 400;
  border-radius: 0;
  border: 1px solid #a271cc;
  border-radius: 25px;
}

.button--secondary {
  background-color: #ff1818;
  color: white;
  font-weight: 700;
  border-radius: 50%;
}

.button--radiusred {
  background-color: #a271cc;
  color: white;
  font-weight: 700;
  border-radius: 25px;
}

.button__select {
  background-color: transparent;
  color: white;
  font-weight: 700;
  border: 1px solid #a271cc;
  border-radius: 25px;
  margin-top: 8px;
}

option {
  background-color: #a271cc;
}


@media only screen and (min-width: 1200px) {
    .button{
      margin-top: 0;
      min-width: 60px;
      height: 60px;
      font-size: 20px;
      font-weight: 600;
    }
}
