@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  min-height: 100vh;
}

.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  padding: 0 20px;
}

.appflex {
  min-height: 35.7vh;
  background-color: #1d0333;
  position: relative;
  width: 100vw;
}

.border{
  width: 60px;
  height: 60px;
  background: #1d0333;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -10px;
  border-radius: 50px;
  z-index: -1;
}



::-webkit-scrollbar {
  display: none;
}
