.container{
  min-width: 100%;
  margin: 16px 0;
  background-color: #eedcff;
  padding: 20px;
  border-radius: 25px;
}

.todoText {
  word-break: break-all;
  font-weight: 500;
  font-size: 15px;
  color: #1d0333;
  text-transform: uppercase;
  margin: 0 0 4px 0;
}

.todoText--completed {
  text-decoration: line-through;
  opacity: 0.7;
}

.svgBox {
  flex-basis: 35px;
  flex-shrink: 0;
  height: 35px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s ease background-color;
}

.svgBox:hover {
  background-color: red;
}

.svg {
  width: 100%;
  height: 100%;
  stroke: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divContainer{
  margin: 20px 0;
  width: 100%;
}

.top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.checktext{
  display: flex;
  width: 100%;
}

.timetext{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.time{
  color: gray;
  font-size: 14px;
  margin: 4px 0;
}

.deleteEdit{
  display: flex;
  justify-content: space-between;
}

.buttonDelete{
  min-width: 100px;
  height: 35px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s ease background-color;
  background-color: #cc2b5e;
  color: white;
  margin-right: 20px;
  text-transform: uppercase;
}

.buttonEdit{
  min-width: 100px;
  height: 35px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s ease background-color;
  color: white;
  background-color: #753a88;
  text-transform: u;
}

svg{
  width: 100%;
  height: 100%;
  fill: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notTodo{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  color: white;
  font-size: 16px;
}